.avatar {
  background-image: url("/img/portrait.png");
  background-position: center center;
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 100%;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  background-size: cover;
      margin-left:auto;
    margin-right:auto;
}

@media only screen and (min-device-width: 768px){
.welcome-grid{
  display: grid; 
  width:100%;
  grid-template-columns: 0.6fr 1.6fr; 
  grid-template-rows: 1fr; 
  gap: 0px 50px; 
}
}

.welcome-grid > div{
  display: inline-block;
  width:100%;
  margin-bottom:20px;
}

.header-grid {
  display: grid; 
  grid-template-columns: 0.2fr 1.0fr 0.2fr; 
  grid-template-rows: 1fr; 
  gap: 0px 10px; 
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px 20px 30px;
}

.header-grid-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text-box {
  display: flex;
}

#logo-text {
  margin: auto;
  text-align: center;
  font-size: 2.5vw;
  font-family: 'Source Serif Pro', serif;
  background: #B0E7FF;
  background: linear-gradient(to right, #B0E7FF 0%, #CD8FCF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.logo{
  display: block;
  max-width:50px;
  max-height:50px;
  width: 100%;
  height: 100%;
}

.grid3x2 {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 20px; 
  grid-template-areas: 
    "b11 b12"
    "b21 b22"
    "b31 b32"; 
}

.b11 { grid-area: b11; }
.b12 { grid-area: b12; }
.b21 { grid-area: b21; }
.b22 { grid-area: b22; }
.b31 { grid-area: b31; }
.b32 { grid-area: b32; }

.page-heading {
 margin-bottom:1rem;
 background: #B0E7FF;
 background: linear-gradient(to right, #B0E7FF 0%, #CD8FCF 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 width: fit-content;
}

.article-header {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px;
  grid-template-areas: "article-header article-date"; 
}

.article-header { 
  grid-area: article-header; 
  text-align:left; 
  align-items: center;
  justify-content: center;
}

.article-date { 
  grid-area: article-date;
  text-align:left;
  color: #777777; 
}

#menu-div{
  display: none;
}
